from datetime import timedelta

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'cookiecutter_project_name',
        'USER': 'cookiecutter_project_name',
        'PASSWORD': 'cookiecutter_project_name',
        'HOST': 'localhost',
        'PORT': '5432',
        'CONN_MAX_AGE': None,
    }
}

SIMPLE_JWT = {
    'AUTH_HEADER_TYPES': ('JWT',),
    'ACCESS_TOKEN_LIFETIME': timedelta(days=1),
}

# CELERY_TASK_ALWAYS_EAGER = True
# CELERY_TASK_EAGER_PROPAGATES = True

# EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

SENTRY_DSN = ''
